/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 240px;
    background-color:lightblue;
}

#midden{
    width: 900px;
    height: 100px;
    background-color:black;
    
}

#onderkant{
    width: 900px;
    height: 250px;
    background-color:lightblue;
}

#borderboven{
    width:900px;
    height:10px;
    color: white;
}

#borderonder{
    width:900px;
    height:10px;
    color: white;
}

