/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 50%;
    background-color:yellow;
}

#midden{
    width: 900px;
    height: 25%;
    background-color:blue;
}

#onderkant{
    width: 900px;
    height: 25%;
    background-color:red;
}

