#container{
    width: 900px;
    height:600px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    
}

#linksboven{
width: 300px;
height: 250px;
background-color: red;
}

#rechtsboven{
width: 400px;
height: 250px;
background-color:red;
flex-direction: column-reverse;
}

#linksonder{

}

#rechtsonder{

}